/* begin Page */

/* Created by Artisteer v3.1.0.48375 */

.cleared {
   width:1px;
}
/* Start Box */
.box, .box-body {
   zoom:1;
}
/* End Box */
/* Start Bar */
.bar{
   zoom:1;
}
/* End Bar */
/* end Page */

/* begin Box, Sheet */
.sheet {
   background:#F1F1F1;
}
/* end Box, Sheet */

/* begin Header */
.header {
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('div'),firstChild).className='header-png',insertBefore(document.createElement('div'),firstChild).className='header-jpeg');
   z-index: 1;
}

.header-png
{
   position: absolute;
   z-index:-2;
   top: 0;
   width:100%;
   height: 150px;
   background-image: url('images/header.png');
   background-repeat: no-repeat;
   background-position:top center;
}

.header-jpeg
{
   position: absolute;
   z-index:-1;
   top: 0;
   width:expression(parentNode.clientWidth - 2 * 20 + 'px');
   left:20px;
   height: 150px;
   background-image: url('images/header.jpg');
   background-repeat: no-repeat;
   background-position: center center;
}
/* end Header */

/* begin Menu */
ul.hmenu, ul.hmenu ul, ul.hmenu li, ul.hmenu a {
   zoom:1;
}
.hmenu li.hmenuhover{
   z-index: 10000;
}
.hmenu .hmenuhoverUL{
   visibility: visible;
   top: 100%;
   left: 0;
}
.hmenu .hmenuhoverUL .hmenuhoverUL{
   top: 0;
   left: 100%;
}
.hmenu ul li {
   float: left !important;
   clear: both;
   width: 100%;
}
.nav
{
   zoom: 1;
   height: 33px;
   background:#70D5FA;
}

/* end Menu */

/* begin MenuItem */
.hmenu a 
{
   display:inline-block;
   color: #02212C;
   padding: 0 12px;
   line-height: 27px;
   text-align: center;
}

.hmenu a.active 
{
   color: #045471;
   background-color:#F1F1F1;
}

.hmenu a:hover, .hmenuhoverA,  .hmenuhover a 
{
   color: #F6DBBB;
   background-color:#D07B1B;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.hmenu li {
   margin-left:expression(this.previousSibling==null?'0':'8px');
}
ul.hmenu li li{
   margin-left:0;
}

/* end MenuSeparator */

/* begin MenuSubItem */
.hmenu ul a 
{
   color: #1F1F1F !important;
   float: left;
}

.hmenu ul a:hover, .hmenu ul .hmenuhover .hmenuhoverA 
{
   color: #022531 !important;
   background-position: left bottom;
   border-top-width: 0 !important;
}

/* end MenuSubItem */

/* begin Layout */
.content-layout, .content-layout-row, .layout-cell 
{
   display: block;
   zoom: 1;
}
.layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin Button */
.button-wrapper{
   zoom: 1;
}
.button-wrapper .button-l, .button-wrapper .button-r {
   display: none;
}
.button-wrapper .button {
   float: left;
}
/* end Button */

/* begin Box, Block, VMenuBlock */
.vmenublock {
   background:#C7C7C7;
}
/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.vmenublockheader {
   background:#C7C7C7;
}
/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.vmenublockcontent {
   background:#C7C7C7;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.vmenu, ul.vmenu ul, ul.vmenu li, ul.vmenu a
{
   position:relative;
   zoom: 1;
}

ul.vmenu li {
   z-index:0;
   margin-top:expression(this.previousSibling==null?'0':'4px');
}
ul.vmenu ul{
   margin-top:4px;
   padding-bottom: 0;
}

ul.vmenu a 
{
   color: #424242;
   background-color:#C7C7C7;
   padding: 0 11px 0 11px;
   height: 30px;
   line-height: 30px;
}

.vmenu a.active 
{
   color: #9DE2FB;
   background-color:#828282;
}

ul.vmenu a:hover
{
   color: #8C5312;
   background-color:#70D5FA;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.vmenu ul a {
   color: #424242 !important;
}
ul.vmenu li li {
   padding-top:expression(this.previousSibling==null?'0':'0');
   margin-top:expression(this.previousSibling==null?'0':'0');
}
 
ul.vmenu ul ul {
   margin-top:0;
}
ul.vmenu ul a.active {
   color: #0796CA !important;
}
ul.vmenu ul a:hover {
   color: #C27319 !important;
}	
/* end VMenuSubItem */

/* begin Box, Block */
.block {
   background:#EBEBEB;
}
/* end Box, Block */

/* begin BlockHeader */
.blockheader {
   background:#EBEBEB;
}
/* end BlockHeader */

/* begin Box, BlockContent */
.blockcontent {
   background:#EBEBEB;
}
.blockcontent-body ul li{
   height: 1%;
}

/* end Box, BlockContent */

/* begin Box, Post */
.post {
   background:#F0F0F0;
}
/* end Box, Post */

/* begin PostMetadata, PostMetadataHeader */
.postmetadataheader
{
   zoom:1;
   background:#EBEBEB;
}
/* end PostMetadata, PostMetadataHeader */

/* begin PostIcons, PostHeaderIcons */
.postheadericons span{
   zoom: 1;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostBullets */
.post ul li, .post ol ul li
{
   height: 1%;
   padding-left: 15px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

.post ul ol li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}
/* end PostBullets */

/* begin PostIcons, PostFooterIcons */
.postfootericons span{
   zoom: 1;
}
/* end PostIcons, PostFooterIcons */

/* begin Footer */
.footer-body{
   padding-right: 0;
   zoom:1;
}
.footer{
   zoom:1;
   background:#E5E5E5;
}

.footer-text
{
   height: 20px;
}

/* end Footer */

/* begin LayoutCell, content */
.sidebar1 {
   width: auto;
   background:#C7C7C7;
}
/* end LayoutCell, content */

/* begin LayoutCell, sidebar1 */
/* end LayoutCell, sidebar1 */

