/* begin Page */
/* Created by Artisteer v3.1.0.48375 */

#main, table
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

.postcontent,
.postheadericons,
.postfootericons,
.blockcontent-body,
ul.vmenu a 
{
   text-align: left;
}

.postcontent,
.postcontent li,
.postcontent table,
.postcontent a,
.postcontent a:link,
.postcontent a:visited,
.postcontent a.visited,
.postcontent a:hover,
.postcontent a.hovered
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.postcontent p
{
   margin: 12px 0;
}

.postcontent h1, .postcontent h1 a, .postcontent h1 a:link, .postcontent h1 a:visited, .postcontent h1 a:hover,
.postcontent h2, .postcontent h2 a, .postcontent h2 a:link, .postcontent h2 a:visited, .postcontent h2 a:hover,
.postcontent h3, .postcontent h3 a, .postcontent h3 a:link, .postcontent h3 a:visited, .postcontent h3 a:hover,
.postcontent h4, .postcontent h4 a, .postcontent h4 a:link, .postcontent h4 a:visited, .postcontent h4 a:hover,
.postcontent h5, .postcontent h5 a, .postcontent h5 a:link, .postcontent h5 a:visited, .postcontent h5 a:hover,
.postcontent h6, .postcontent h6 a, .postcontent h6 a:link, .postcontent h6 a:visited, .postcontent h6 a:hover,
.blockheader .t, .blockheader .t a, .blockheader .t a:link, .blockheader .t a:visited, .blockheader .t a:hover,
.vmenublockheader .t, .vmenublockheader .t a, .vmenublockheader .t a:link, .vmenublockheader .t a:visited, .vmenublockheader .t a:hover,
.logo-name, .logo-name a, .logo-name a:link, .logo-name a:visited, .logo-name a:hover,
.logo-text, .logo-text a, .logo-text a:link, .logo-text a:visited, .logo-text a:hover,
.postheader, .postheader a, .postheader a:link, .postheader a:visited, .postheader a:hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;
}

.postcontent a
{
   text-decoration: none;
   color: #0679A2;
}

.postcontent a:link
{
   text-decoration: none;
   color: #0679A2;
}

.postcontent a:visited, .postcontent a.visited
{
   color: #545454;
}

.postcontent  a:hover, .postcontent a.hover
{
   text-decoration: underline;
   color: #08A1D9;
}

.postcontent h1
{
   color: #0679A2;
   margin: 10px 0 0;
   font-size: 26px;
}

.blockcontent h1
{
   margin: 10px 0 0;
   font-size: 26px;
}

.postcontent h1 a, .postcontent h1 a:link, .postcontent h1 a:hover, .postcontent h1 a:visited, .blockcontent h1 a, .blockcontent h1 a:link, .blockcontent h1 a:hover, .blockcontent h1 a:visited 
{
   font-size: 26px;
}

.postcontent h2
{
   color: #08A1D9;
   margin: 10px 0 0;
}

.blockcontent h2
{
   margin: 10px 0 0;
}

.postcontent h3
{
   color: #545454;
   margin: 10px 0 0;
   font-size: 18px;
}

.blockcontent h3
{
   margin: 10px 0 0;
   font-size: 18px;
}

.postcontent h3 a, .postcontent h3 a:link, .postcontent h3 a:hover, .postcontent h3 a:visited, .blockcontent h3 a, .blockcontent h3 a:link, .blockcontent h3 a:hover, .blockcontent h3 a:visited 
{
   font-size: 18px;
}

.postcontent h4
{
   color: #078BBB;
   margin: 10px 0 0;
   font-size: 16px;
}

.blockcontent h4
{
   margin: 10px 0 0;
   font-size: 16px;
}

.postcontent h4 a, .postcontent h4 a:link, .postcontent h4 a:hover, .postcontent h4 a:visited, .blockcontent h4 a, .blockcontent h4 a:link, .blockcontent h4 a:hover, .blockcontent h4 a:visited 
{
   font-size: 16px;
}

.postcontent h5
{
   color: #03374A;
   margin: 10px 0 0;
   font-size: 14px;
}

.blockcontent h5
{
   margin: 10px 0 0;
   font-size: 14px;
}

.postcontent h5 a, .postcontent h5 a:link, .postcontent h5 a:hover, .postcontent h5 a:visited, .blockcontent h5 a, .blockcontent h5 a:link, .blockcontent h5 a:hover, .blockcontent h5 a:visited 
{
   font-size: 14px;
}

.postcontent h6
{
   color: #04506C;
   margin: 10px 0 0;
   font-size: 13px;
}

.blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
}

.postcontent h6 a, .postcontent h6 a:link, .postcontent h6 a:hover, .postcontent h6 a:visited, .blockcontent h6 a, .blockcontent h6 a:link, .blockcontent h6 a:hover, .blockcontent h6 a:visited 
{
   font-size: 13px;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height:100%;
}

#main
{
   position: relative;
   z-index: 0;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}

body
{
   padding: 0;
   margin:0;
   min-width: 900px;
   color: #262626;
   background-color: #E8E8E8;
   background-image: url('images/Bottom_texture.jpg');
   background-repeat: repeat;
   background-attachment: fixed;
   background-position: top left;
}

.cleared
{
   display:block;
   clear: both;
   float: none;
   margin: 0;
   padding: 0;
   border: none;
   font-size: 0;
   height:0;
   overflow:hidden;
}

.reset-box
{
   overflow:hidden;
   display:table;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

/* Start Box */
.box, .box-body {
   margin:0 auto;
   position:relative;
}
.box:before, .box:after, .box-body:before, .box-body:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat: no-repeat;
   line-height:0;
}
.box:before,.box-body:before{
   left:0;
}
.box:after,.box-body:after{
   right:0;
}
.box:before {
   overflow:hidden;
   background-position: bottom left;
   direction: ltr;
   z-index:-3;
}
.box:after {
   background-position: bottom right;
   z-index:-3;
}
.box-body:before, .box-body:after {
   background-repeat:repeat-y;
}
.box-body:before {
   background-position: top left;
   z-index:-3;
}
.box-body:after {
   background-position: top right;
   z-index:-3;
}

.box .box:before, .box .box:after, .box-body .box-body:before, .box-body .box-body:after {
   z-index:-2;
}
.box .box .box:before, .box .box .box:after, .box-body .box-body .box-body:before, .box-body .box-body .box-body:after {
   z-index:-1;
}
/* End Box */

/* Start Bar */
.bar {
   position:relative;
}
.bar:before, .bar:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat;
   z-index:-1;
}
.bar:before {
   left:0;
   background-position: top left;
}
.bar:after {
   right:0;
   background-position: top right;
}
/* End Bar */

li h1, .postcontent li h1, .blockcontent-body li h1 
{
   margin:1px;
} 
li h2, .postcontent li h2, .blockcontent-body li h2 
{
   margin:1px;
} 
li h3, .postcontent li h3, .blockcontent-body li h3 
{
   margin:1px;
} 
li h4, .postcontent li h4, .blockcontent-body li h4 
{
   margin:1px;
} 
li h5, .postcontent li h5, .blockcontent-body li h5 
{
   margin:1px;
} 
li h6, .postcontent li h6, .blockcontent-body li h6 
{
   margin:1px;
} 
li p, .postcontent li p, .blockcontent-body li p 
{
   margin:1px;
}

/* end Page */

/* begin Box, Sheet */
.sheet
{
   max-width:900px;
   margin-top: 6px;
   margin-bottom: -4px;
   cursor:auto;
   width: 900px;
}
.sheet-body 
{
   padding:5px;
   min-width:64px;
   min-height:64px;
   padding-top:5px;
   padding-bottom:5px;
}
.sheet:before, .sheet:after 
{
   content: url('images/sheet_t.png');
   font-size: 0;
   background-image: url('images/sheet_b.png');
}
.sheet:after{
   clip:rect(auto, auto, auto, 863px);
}
.sheet:before,.sheet-body:before{
   right:37px;
}
.sheet-body:after{
   width: 37px;
   top:37px;
   bottom:37px;
   background-image:url('images/sheet.png');
}
.sheet-body:before{
   top:37px;
   bottom:37px;
   background-image:url('images/sheet.png');
}

/* end Box, Sheet */

/* begin Header */
div.header
{
   margin: 0 auto;
   position: relative;
   width:100%;
   height: 150px;
   margin-top: 0;
   margin-bottom: 0;
}

.header:before
{
   position: absolute;
   display:block;
   content:' ';
   z-index:-2;
   top: 0;
   width:100%;
   height: 150px;
   background-image: url('images/header.png');
   background-repeat: no-repeat;
   background-position:top center;
}

.header:after
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top: 0;
   left:20px;
   right:20px;
   height: 150px;
   background-image: url('images/header.jpg');
   background-repeat: no-repeat;
   background-position: center center;
}
/* end Header */

/* begin Logo */
div.logo
{
   display: block;
   position: absolute;
   top: 48px;
   left: 0;
   margin-left: 12px;
}

.logo-name
{
   display: block;
   text-align: left;
   font-size: 28px;
   padding: 0;
   margin: 0;
   color: #FCFCFC !important;
}
.logo-name a, 
.logo-name a:link, 
.logo-name a:visited, 
.logo-name a:hover
{
   font-size: 28px;
   padding: 0;
   margin: 0;
   color: #FCFCFC !important;
}

.logo-text
{
   display: block;
   text-align: left;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 14px;
   padding: 0;
   margin: 0;
   color: #FCFCFC !important;
}
.logo-text a,
.logo-text a:link,
.logo-text a:visited,
.logo-text a:hover
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 14px;
   padding: 0;
   margin: 0;
   color: #FCFCFC !important;
}

#headline, #slogan 
{
   display: block;
   min-width: 150px;
   text-align: left;
}
/* end Logo */

/* begin Menu */
/* menu structure */

ul.hmenu a, ul.hmenu a:link, ul.hmenu a:visited, ul.hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.hmenu, ul.hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.hmenu li
{
   margin: 0;
   padding: 0;
   border: 0;
   display: block;
   float: left;
   position: relative;
   z-index: 5;
   background: none;
}

ul.hmenu li:hover{
   z-index: 10000;
   white-space: normal;
}
ul.hmenu li li{
   float: none;
   width: auto;
}
ul.hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
ul.hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}
ul.hmenu:after, ul.hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}
ul.hmenu, ul.hmenu ul {
   min-height: 0;
}

ul.hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

ul.hmenu ul.hmenu-left-to-right {
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}
ul.hmenu ul.hmenu-right-to-left {
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

ul.hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

ul.hmenu ul ul.hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

ul.hmenu ul ul.hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
}

ul.hmenu li li:hover>ul.hmenu-left-to-right {
   right: auto;
   left: 100%;
}
ul.hmenu li li:hover>ul.hmenu-right-to-left {
   left: auto;
   right: 100%;
}

ul.hmenu{
   position:relative;
   padding: 6px 2px 0 2px;
   float: left;
   left: 50%;
}
div.nav-center{
   position: relative;
   float: right;
   right: 50%;
}

.firefox2 ul ul.hmenu{
   float: none;
}
/* end menu structure */

/* menu bar */

.nav
{
   margin:0 auto;
   min-height: 33px;
   z-index: 100;
   margin-top: 0;
   margin-bottom: 0;
}

.nav:before, .nav:after{
   background-image: url('images/nav.png');
}
.nav:before{
   right: 20px;
}
.nav:after{
   width: 20px;
}
/* end menu bar */
.nav-outer{
   position:absolute;
   width:100%;
}

/* end Menu */

/* begin MenuItem */
ul.hmenu>li>a
{
   position: relative;
   display: block;
   height: 27px;
   cursor: pointer;
   text-decoration: none;
   color: #02212C;
   padding: 0 12px;
   line-height: 27px;
   text-align: center;
}

ul.hmenu>li>a:before, ul.hmenu>li>a:after
{
   position: absolute;
   display: block;
   content:' ';
   top: 0;
   bottom:0;
   z-index: -1;
   background-image: url('images/menuitem.png');
}

ul.hmenu>li>a:before
{
   left: 0;
   right: 11px;
   background-position: top left;
}

ul.hmenu>li>a:after
{
   width: 11px;
   right: 0;
   background-position: top right;
}

.hmenu a, .hmenu a:link, .hmenu a:visited, .hmenu a:hover
{
   text-align: left;
   text-decoration: none;
}

ul.hmenu>li>a.active:before {
   background-position: bottom left;
} 
ul.hmenu>li>a.active:after {
   background-position: bottom right;
}
ul.hmenu>li>a.active {
   color: #045471;
}

ul.hmenu>li>a:hover:before, ul.hmenu>li:hover>a:before {
   background-position: center left;
}
ul.hmenu>li>a:hover:after, ul.hmenu>li:hover>a:after {
   background-position: center right;
}
ul.hmenu>li>a:hover, ul.hmenu>li:hover>a{
   color: #F6DBBB;
}

/* end MenuItem */

/* begin MenuSeparator */

ul.hmenu>li {
   margin-left:8px;
}
ul.hmenu>li:first-child {
   margin-left:0;
}

/* end MenuSeparator */

/* begin MenuSubItem */
.hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 25px;
   background-image: url('images/subitem.png');
   background-position: left top;
   background-repeat: repeat-x;
   border-width: 0;
   border-style: solid;
   min-width: 7em;
   text-align: left;
   text-decoration: none;
   line-height: 25px;
   color: #1F1F1F;
   margin:0;
   padding: 0 8px;
}

.hmenu ul>li:first-child>a
{
   border-top-width: 0;
}

.hmenu ul a:link, .hmenu ul a:visited, .hmenu ul a:hover, .hmenu ul a:active
{
   text-align: left;
   text-decoration: none;
   line-height: 25px;
   color: #1F1F1F;
   margin:0;
   padding: 0 8px;
}

.hmenu ul li a:hover
{
   color: #022531;
   background-position: left bottom;
   border-top-width: 0 !important;
}

.hmenu ul li:hover>a
{
   color: #022531;
   background-position: left bottom;
   border-top-width: 0 !important;
}

/* end MenuSubItem */

/* begin Layout */
.layout-wrapper
{
   position:relative;
   margin:0 auto 0 auto;
}

.content-layout
{
   display: table;
   width:100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.content-layout-row {
   display: table-row;
}

.layout-cell
{
   display: table-cell;
   vertical-align: top;
}
/* end Layout */

/* begin Button */
span.button-wrapper>a.button,
span.button-wrapper>a.button:link,
span.button-wrapper>input.button,
span.button-wrapper>button.button
{
   text-decoration: none;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   position:relative;
   top:0;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #212121 !important;
   width: auto;
   outline: none;
   border: none;
   background: none;
   line-height: 26px;
   height: 26px;
   margin: 0 !important;
   padding: 0 10px !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
}

.button img, span.button-wrapper img
{
   margin: 0;
   vertical-align: middle;
}

span.button-wrapper
{
   vertical-align: middle;
   display: inline-block;
   position: relative;
   height: 26px;
   overflow: hidden;
   white-space: nowrap;
   text-indent: 0;
   width: auto;
   max-width:890px;
   margin: 0;
   padding: 0;
   z-index: 0;
}

.firefox2 span.button-wrapper
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
}

div.block select 
{
   width:96%;
}

span.button-wrapper.hover>.button, span.button-wrapper.hover>a.button:link
{
   color: #212121 !important;
   text-decoration: none !important;
}

span.button-wrapper.active>.button, span.button-wrapper.active>a.button:link
{
   color: #1C1C1C !important;
}

span.button-wrapper>span.button-l, span.button-wrapper>span.button-r
{
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   margin: 0;
   padding: 0;
   background-image: url('images/button.png');
   background-repeat: no-repeat;
}

span.button-wrapper>span.button-l
{
   left: 0;
   right: 3px;
   background-position: top left;
}

span.button-wrapper>span.button-r
{
   width: 3px;
   right: 0;
   background-position: top right;
}

span.button-wrapper.hover>span.button-l
{
   background-position: center left;
}

span.button-wrapper.hover>span.button-r
{
   background-position: center right;
}

span.button-wrapper.active>span.button-l
{
   background-position: bottom left;
}

span.button-wrapper.active>span.button-r
{
   background-position: bottom right;
}

span.button-wrapper input
{
   float: none !important;
}
/* end Button */

/* begin Box, Block, VMenuBlock */
.vmenublock
{
   max-width:890px;
   margin: 7px;
}
.vmenublock-body 
{
   padding:0;
}

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.vmenublockheader {
   margin-bottom: 0;
   min-height: 26px;
   line-height:26px;
}

.vmenublockheader .t
{
   min-height: 26px;
   line-height:26px;
   color: #000000;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 14px;
   margin:0;
   padding: 0 5px 0 5px;
   white-space: nowrap;
}

.vmenublockheader .t a,
.vmenublockheader .t a:link,
.vmenublockheader .t a:visited, 
.vmenublockheader .t a:hover
{
   color: #000000;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 14px;
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.vmenublockcontent
{
   max-width:890px;
}
.vmenublockcontent-body 
{
   padding:0;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.vmenu, ul.vmenu ul
{
   list-style: none;
   display: block;
}

ul.vmenu, ul.vmenu li
{
   display: block;
   margin: 0;
   padding: 0;
   width: auto;
   line-height: 0;
}

ul.vmenu
{
   margin-top: 0;
   margin-bottom: 0;
}

ul.vmenu ul
{
   display: none;
   margin: 0;
   padding: 0;
   position:relative;
   margin-left: 0;
   margin-right: 0;
}

ul.vmenu ul.active
{
   display: block;
}
/* end VMenu */

/* begin VMenuItem */
ul.vmenu a 
{
   display: block;
   cursor: pointer;
   z-index:0;
   text-decoration: none;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   margin-left:0;
   margin-right:0;
   position:relative;
}

ul.vmenu li{
   position:relative;
}

ul.vmenu>li>a 
{
   color: #424242;
   padding: 0 11px 0 11px;
   height: 30px;
   line-height: 30px;
   white-space: nowrap;
}

ul.vmenu>li>a.active {
   color: #9DE2FB;
}
ul.vmenu a:hover, ul.vmenu a.active:hover {
   color: #8C5312;
}

ul.vmenu>li>a:before, ul.vmenu>li>a:after 
{
   position: absolute;
   display: block;
   content: ' ';
   z-index:-1;
   background-image: url('images/vmenuitem.png');
   top:0;
   height:30px;
}

ul.vmenu>li>a:before{
   left: 0;
   right: 4px;
   background-position: top left;
}
ul.vmenu>li>a:after{
   width: 4px;
   right: 0;
   background-position: top right;
}
ul.vmenu>li>a.active:before {
   background-position: bottom left;
}
ul.vmenu>li>a.active:after {
   background-position: bottom right;
}
ul.vmenu>li>a:hover {
   background-color: transparent;
}
ul.vmenu>li>a:hover:before  {
   background-position: center left;
}
ul.vmenu>li>a:hover:after {
   background-position: center right;
}

ul.vmenu>li{
   margin-top:4px;
}
ul.vmenu>li>ul{
   margin-top:4px;
   padding-bottom: 0;
}
ul.vmenu>li:first-child{
   margin-top:0;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.vmenu ul li{
   margin: 0;
   padding: 0;
}
ul.vmenu li li, ul.vmenu li li a {
   position:relative;
}

ul.vmenu ul a
{
   display: block;
   position:relative;
   white-space: nowrap;
   height: 24px;
   overflow: visible;
   background-image: url('images/vsubitem.png');
   background-repeat: repeat-x;
   background-position: top left;
   padding:0;
   padding-left:15px;
   padding-right:15px;
   line-height: 24px;
   color: #424242;
   margin-left: 0;
   margin-right: 0;
}

ul.vmenu ul a.active{
   background-position: bottom left;
}
ul.vmenu ul a:hover{
   background-position: center left;
   line-height: 24px;
   color: #424242;
   margin-left: 0;
   margin-right: 0;
}
ul.vmenu ul li li a:hover, ul.vmenu ul li li a:hover.active{
   background-position: left center;
}

ul.vmenu ul a:link, ul.vmenu ul a:visited, ul.vmenu ul a:active
{
   line-height: 24px;
   color: #424242;
   margin-left: 0;
   margin-right: 0;
}

ul.vmenu>li>ul>li:first-child{
   padding-top: 0;
   margin-top:0;
}
 
ul.vmenu li li{
   position:relative;
   margin-top:0;
}

ul.vmenu ul ul a{
   padding-left:30px;
}
ul.vmenu ul ul ul a{
   padding-left:45px;
}
ul.vmenu ul ul ul ul a{
   padding-left:60px;
}
ul.vmenu ul ul ul ul ul a{
   padding-left:75px;
}

ul.vmenu ul li a.active {
   color: #0796CA;
}
ul.vmenu ul li a:hover, ul.vmenu ul li a:hover.active {
   color: #C27319;
}

/* end VMenuSubItem */

/* begin Box, Block */
.block
{
   max-width:890px;
   margin: 7px;
}
.block-body 
{
   padding:8px;
}
.block:before, .block:after 
{
   content: url('images/block_t.png');
   font-size: 0;
   background-image: url('images/block_b.png');
}
.block:after{
   clip:rect(auto, auto, auto, 883px);
}
.block:before,.block-body:before{
   right:7px;
}
.block-body:after{
   width: 7px;
   top:7px;
   bottom:7px;
   background-image:url('images/block.png');
}
.block-body:before{
   top:7px;
   bottom:7px;
   background-image:url('images/block.png');
}

div.block img
{
   margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.blockheader {
   margin-bottom: 0;
   min-height: 38px;
   line-height:38px;
}
.blockheader:before, .blockheader:after{
   background-image: url('images/blockheader.png');
}
.blockheader:before{
   right: 15px;
}
.blockheader:after{
   width: 15px;
}

.blockheader .t
{
   min-height: 38px;
   line-height:38px;
   color: #000000;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 14px;
   margin:0;
   padding: 0 5px 0 21px;
   white-space: nowrap;
}

.blockheader .t a,
.blockheader .t a:link,
.blockheader .t a:visited, 
.blockheader .t a:hover
{
   color: #000000;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 14px;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.blockcontent
{
   max-width:890px;
}
.blockcontent-body 
{
   padding:7px;
   color: #363636;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 12px;
}
.blockcontent-body table,
.blockcontent-body li, 
.blockcontent-body a,
.blockcontent-body a:link,
.blockcontent-body a:visited,
.blockcontent-body a:hover
{
   color: #363636;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 12px;
}

.blockcontent-body p
{
   margin: 12px 0;
}

.blockcontent-body a, .blockcontent-body a:link
{
   color: #067199;
   text-decoration: underline;
}

.blockcontent-body a:visited, .blockcontent-body a.visited
{
   color: #878787;
   text-decoration: none;
}

.blockcontent-body a:hover, .blockcontent-body a.hover
{
   color: #079ACF;
   text-decoration: none;
}

.blockcontent-body ul li
{
   font-size: 13px;
   line-height: 125%;
   color: #4A4A4A;
   margin: 5px 0 0 10px;
   padding: 0 0 0 14px;
   background-image: url('images/blockcontentbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
}
/* end Box, BlockContent */

/* begin Box, Post */
.post
{
   max-width:890px;
   margin: 7px;
}
.post-body 
{
   padding:12px;
}
.post:before, .post:after 
{
   content: url('images/post_t.png');
   font-size: 0;
   background-image: url('images/post_b.png');
}
.post:after{
   clip:rect(auto, auto, auto, 879px);
}
.post:before,.post-body:before{
   right:11px;
}
.post-body:after{
   width: 11px;
   top:11px;
   bottom:11px;
   background-image:url('images/post.png');
}
.post-body:before{
   top:11px;
   bottom:11px;
   background-image:url('images/post.png');
}

a img
{
   border: 0;
}

.article img, img.article, .block img, .footer img
{
   border-color: #C7C7C7;
   border-style: solid;
   border-width: 2px;
   margin: 10px 10px 10px 10px;
}

.metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.article table, table.article
{
   border-collapse: collapse;
   margin: 1px;
}

.post .content-layout-br
{
   height: 0;
}

.article th, .article td
{
   padding: 2px;
   border: solid 1px #B5B5B5;
   vertical-align: top;
   text-align: left;
}

.article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

#preview-image
{
   float: left;
   }

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.preview-sharepoint-logo
{
   border: 0;
   margin: 5px;
   float: left;
}
/* end Box, Post */

/* begin PostMetadata, PostMetadataHeader */
.postmetadataheader
{
   position:relative;
   z-index:1;
   padding: 1px;
   background-image: url('images/postmetadataheader_bg.png');
}
/* end PostMetadata, PostMetadataHeader */

/* begin PostHeaderIcon */
.postheader
{
   color: #04506C;
   margin: 5px 0;
   line-height: 1em;
   font-size: 20px;
}

.postheader a, 
.postheader a:link, 
.postheader a:visited,
.postheader a.visited,
.postheader a:hover,
.postheader a.hovered
{
   font-size: 20px;
}

.postheader a, .postheader a:link
{
   text-align: left;
   text-decoration: none;
   color: #056385;
}

.postheader a:visited, .postheader a.visited
{
   color: #5C5C5C;
}

.postheader a:hover,  .postheader a.hovered
{
   color: #089DD4;
}

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */
.postheadericons,
.postheadericons a,
.postheadericons a:link,
.postheadericons a:visited,
.postheadericons a:hover
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   color: #4D4D4D;
}

.postheadericons
{
   padding: 1px;
}

.postheadericons a, .postheadericons a:link
{
   text-decoration: none;
   color: #06759D;
}

.postheadericons a:visited, .postheadericons a.visited
{
   font-style: italic;
   font-weight: normal;
   color: #06759D;
}

.postheadericons a:hover, .postheadericons a.hover
{
   font-style: italic;
   font-weight: normal;
   text-decoration: underline;
   color: #089DD4;
}

/* end PostIcons, PostHeaderIcons */

/* begin PostIcon, PostDateIcon */
span.postdateicon
{
   background:url('images/postdateicon.png') no-repeat left 0.5em;
   padding-top:9px;
   margin-top:-9px;
   padding-left:23px;
   min-height:18px;
   display:inline-block;
   line-height: 1em;
}

span.postdateicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostDateIcon */

/* begin PostIcon, PostAuthorIcon */
span.postauthoricon
{
   background:url('images/postauthoricon.png') no-repeat left 0.5em;
   padding-top:7px;
   margin-top:-7px;
   padding-left:20px;
   min-height:14px;
   display:inline-block;
   line-height: 1em;
}

span.postauthoricon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostAuthorIcon */

/* begin PostIcon, PostEditIcon */
span.postediticon
{
   background:url('images/postediticon.png') no-repeat left 0.5em;
   padding-top:8px;
   margin-top:-8px;
   padding-left:22px;
   min-height:16px;
   display:inline-block;
   line-height: 1em;
}

span.postediticon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostEditIcon */

/* begin PostBullets */
.postcontent ol, .postcontent ul
{
   margin: 1em 0 1em 2em;
   padding: 0;
}

.postcontent li
{
   font-size: 13px;
   color: #3B3B3B;
   margin: 3px 0 0 -15px;
   padding: 0 0 0 15px;
}

.postcontent li ol, .post li ul
{
   margin: 0.5em 0 0.5em 2em;
   padding: 0;
}

.postcontent ol>li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.postcontent ul>li
{
   background-image: url('images/postbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
   padding-left: 15px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

/* end PostBullets */

/* begin PostQuote */
blockquote,
blockquote a, .postcontent blockquote a, .blockcontent blockquote a, .footer blockquote a,
blockquote a:link, .postcontent blockquote a:link, .blockcontent blockquote a:link, .footer blockquote a:link,
blockquote a:visited, .postcontent blockquote a:visited, .blockcontent blockquote a:visited, .footer blockquote a:visited,
blockquote a:hover, .postcontent blockquote a:hover, .blockcontent blockquote a:hover, .footer blockquote a:hover
{
   color: #1B1004;
   font-style: italic;
   font-weight: normal;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.postcontent blockquote p,
.blockcontent blockquote p,
.footer blockquote p
{
   margin: 0;
   margin: 5px 0;
}

blockquote
{
   margin: 10px;
   padding: 2px;
   background-color: #B5E9FC;
   margin-left: 50px;
   padding-left: 26px;
   background-image: url('images/postquote.png');
   background-position: left top;
   background-repeat: no-repeat;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}

/* end PostQuote */

/* begin PostIcons, PostFooterIcons */
.postfootericons,
.postfootericons a,
.postfootericons a:link,
.postfootericons a:visited,
.postfootericons a:hover
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   color: #4D4D4D;
}

.postfootericons
{
   padding: 1px;
}

.postfootericons a, .postfootericons a:link
{
   text-decoration: none;
   color: #0679A2;
}

.postfootericons a:visited, .postfootericons a.visited
{
   color: #0679A2;
}

.postfootericons a:hover, .postfootericons a.hover
{
   color: #08A1D9;
}

/* end PostIcons, PostFooterIcons */

/* begin PostIcon, PostCategoryIcon */
span.postcategoryicon
{
   background:url('images/postcategoryicon.png') no-repeat left 0.5em;
   padding-top:9px;
   margin-top:-9px;
   padding-left:24px;
   min-height:18px;
   display:inline-block;
   line-height: 1em;
}

span.postcategoryicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostCategoryIcon */

/* begin PostIcon, PostTagIcon */
span.posttagicon
{
   background:url('images/posttagicon.png') no-repeat left 0.5em;
   padding-top:9px;
   margin-top:-9px;
   padding-left:24px;
   min-height:18px;
   display:inline-block;
   line-height: 1em;
}

span.posttagicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostTagIcon */

/* begin PostIcon, PostCommentsIcon */
span.postcommentsicon
{
   background:url('images/postcommentsicon.png') no-repeat left 0.5em;
   padding-top:9px;
   margin-top:-9px;
   padding-left:24px;
   min-height:18px;
   display:inline-block;
   line-height: 1em;
}

span.postcommentsicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostCommentsIcon */

/* begin Footer */
.footer
{
   position: relative;
   margin-top:50px;
   margin-bottom:0;
   width: 100%;
}

.footer-body
{
   position:relative;
   padding: 20px;
   color: #04506C;
   font-size: 11px;
}

.footer-body ul li
{
   color: #4A4A4A;
   padding: 0 0 0 13px;
   background-image: url('images/footerbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
}

.footer-body:before
{
   position: absolute;
   content:' ';
   z-index:-2;
   left:0;
   right:0;
   top:0;
   bottom:20px;
   background-image: url('images/footer.png');
   background-position:bottom left;
}

.footer:before, .footer:after 
{
   position: absolute;
   content:' ';
   z-index:-2;
   bottom:0;
   height:20px;
   background-image: url('images/footer_b.png');
}

.footer:before
{
   left:0;
   right:20px;
   background-position: bottom left;
}

.footer:after
{
   right:0;
   width:20px;
   background-position: bottom right;
}

.footer-text p
{
   padding:0;
   margin:0;
   text-align: center;
}

.footer-body a,
.footer-body a:link,
.footer-body a:visited,
.footer-body a:hover,
.footer-body td, 
.footer-body th,
.footer-body caption
{
   color: #04506C;
   font-size: 11px;
}

.footer-text
{
   min-height: 20px;
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
}

.footer-body a,
.footer-body a:link
{
   color: #06759D;
   text-decoration: none;
}

.footer-body a:visited
{
   color: #525252;
}

.footer-body a:hover
{
   color: #079ACF;
   text-decoration: underline;
}

div.footer img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 1px;
   border-color: #C7C7C7;
   border-style: solid;
   margin: 5px;
}/* end Footer */

/* begin PageFooter */
.page-footer, 
.page-footer a,
.page-footer a:link,
.page-footer a:visited,
.page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #067199;
}

.page-footer
{
   position: relative;
   z-index: 10;
   padding: 1em;
   text-align: center;
   text-decoration: none;
   color: #4F4F4F;
}
/* end PageFooter */

/* begin LayoutCell, sidebar1 */
.content-layout .sidebar1
{
   width: 200px;
}
.content-layout .sidebar1:before
{
   position: absolute;
   z-index: -2;
   direction: ltr;
   right:   0;
   bottom: 0;
   top: 0;
   overflow: hidden;
   content: url('images/sidebar_g.png');
   font-size: 0;
   display: block;
   background-color: #C7C7C7;
   width: 200px;
}
/* end LayoutCell, sidebar1 */


